<section class="block-about">  
  <h2 class="block-employees_title">About</h2>
  <div class="block-about_main-content">
    <ul class="block-about_block-icons">
      <li class="block-about_block-icon">
        <div class="block-about_block-icon_icon simplicity"></div>
        <h3 class="block-about_block-icon_title">Simplicity</h3>
        <p class="block-about_block-icon_text">Manage employees with ease to ensure maximum HR efficiency. Rich functionality will constantly support you in your daily tasks.</p>
      </li><li class="block-about_block-icon">
        <div class="block-about_block-icon_icon comfort"></div>
        <h3 class="block-about_block-icon_title">Comfort</h3>
        <p class="block-about_block-icon_text">Simple, intuitive interface allows to keep track of all employees with ease transforming app name into an ultimate tool for people management.</p>
      </li><li class="block-about_block-icon">
        <div class="block-about_block-icon_icon control"></div>
        <h3 class="block-about_block-icon_title">Control</h3>
        <p class="block-about_block-icon_text">Add new team members, edit their profiles, and search by their skills and so much more within several clicks.</p>
      </li>
    </ul>
    <div class="block-about_block-content">
      <p>Crew app is a nice free solution for any business that has more than five employees. The pin behind employee management is well-spread and shared throughout the entire globe but no longer should anyone experience challenges from this domain. Crew app is a flawless solution designed to simplify control and management of employees both new and old.</p> 
      <p>Rich Crew app functionality allows creating precise, informative profiles for all of your employees. Your team may be divided by position, experience, skillsets, departments and more for easy search-through and comfortable management. If you have a new project or any other process needs fresh forces: don&#8217;t browse through all your workers and easily find ones fit to do the job right via Crew app functionality.</p>
      <p>The interface itself is simple, intuitive and may be used by anybody and from the first time thus Crew app does not require your HR personnel or Team Leads and Project Managers to undergo additional training. As an addition Crew app is 100% free to use and tailored by people who required this kind of automation in their workflow, meaning all decisions were guided through actual experience.  We have walked in your shoes and know how to make the trip more comfortable!</p>
    </div> 
  </div>
</section> 