<section class="block-about">  
  <h2 class="block-employees_title">FAQ</h2>
  <div class="block-about_main-content">
    <div class="block-about_main-content_contacts">
      <h3 class="contact-us_title">Lviv</h3>
      <div class="contact-us addres">12А Hnatyuka str.,</br>
      Lviv 79007,</br>
      Ukraine</div>
      <div class="contact-us phone">+38(097)613-53-65</div>
    </div><div class="block-about_main-content_contacts">
      <h3 class="contact-us_title">Kharkiv</h3>
    
      <div class="contact-us addres">25-A, O. Yarosha St.</br>
      Kharkov, 61072,</br>
      Ukraine
      </div>
      <div class="contact-us phone">+38(097)613-53-65</div>
    </div><div class="block-about_main-content_contacts">
      <h3 class="contact-us_title">Contact us</h3>
      <form id="create-emloyee-form" name="create-employee" class="form-contact-us" ng-submit="addEmployee()">
        <p><input type="email" ng-model="newEmployee.surname" placeholder="Email"  required></p>
        <textarea name="message" class="" placeholder="Insert your message here"></textarea>
        <button type="submit" class="buton-contact-us">Submit</button>
      </form>
    </div>
  </div>
  <div class="contact-us_map"></div>
</section>