<div class="right-wrap"  data-app-view-segment="1">
</div>
<!--Block employee description ends-->

<!--Block employees list begins-->
<section class="block-employees">

<!--FORM BEGINS-->
<div ng-include ng-if="!edit" src="'partials/inc/form.html'"></div> 
<button class="button-employee add-employee" data-ng-click="form()">Add employee</button>
  
  <h2 class="block-employees_title">Emloyees: {{employees.length}}</h2>
  <nav class="block-employees_nav-departments">
    <div class="block-employees-search"><input data-ng-model="query" placeholder="Search. Just start typing..." class="search-feald"></div>
    <ul class="block-employees_nav-departments_list">
      <li class="block-employees_nav-departments_list_department mobile" data-ng-click="myFilter = {'department' : 'mobile'}">Mobile</li>
      <li class="block-employees_nav-departments_list_department web" data-ng-click="myFilter = {'department' : 'web'}">Web</li>
      <li class="block-employees_nav-departments_list_department testing" data-ng-click="myFilter = {'department' : 'testing'}">Testing</li>
      <li class="block-employees_nav-departments_list_department sales" data-ng-click="myFilter = {'department': 'sales'}">Sales</li>
      <li class="block-employees_nav-departments_list_department" data-ng-click="myFilter = {}">Show all</li>
    </ul>
  </nav>
<!--Employees list header ends --> 

<!--Employees list begins-->
  <ul class="block-employees_list" data-ng-show="employees" data-ng-style="resizeWithOffset(305)" data-resize>
    <li  class="block-employees_block-employee {{employee.department}}" data-ng-repeat="employee in employees | filter:query | filter:myFilter track by employee._id"  data-ng-class="{active: ('employees' | routeSegmentStartsWith) && ('employeeId' | routeSegmentParam) == employee._id}">
      <a class="block-employees_block-employee_link" href="#/employees/{{employee._id}}">
        <div class="photo-block">
          <img data-ng-src="{{employee.photoUrl || '/img/user.png'}}" width="59" alt="{{employee.name}} {{employee.surname}} photo">
        </div>
        <h3 class="block-employees_block-employee_name">{{employee.name}} {{employee.surname}}</h3>
        <p class="block-employees_block-employee_title">{{employee.level}} {{employee.title}}</p>
        <ul class="block-employees_block-employee_block-tags"> 
          <li class="block-employees_block-employee_block-tags_tag" data-ng-repeat="skill in employee.skills track by $index">{{skill}}</li>
        </ul>
      </a>
    </li>
  </ul>
       
</section>   
      
<!--Block employees list ends-->