<section class="block-emploee-description">
<div class="employee-details">
  <header class="block-emploee-description_header">
  <h2 class="block-emploee-description_title">Hi there, handsome!</h2>
  <div class="wrapper"></div>
</header>

<!--Block employee main description begins-->
<div class="block-emploee-description_block-main-description dummy">
  <p>First of all, wow, you look amazing today!</br>
Hope you are enjoying yourself as much as I, your digital recruitment assistant am. Welcome to the CREW, I’m here to help you bring balance to recruitment ;)</p>
</div>
</div>
</section>